@reference "../../../styles.css";

th {
    font-weight: 400;
    text-align: start;
    text-transform: uppercase;
    color: theme(--color-dark-grey);
    @variant dark {
        color: theme(--color-light-grey);
    }
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:not(:last-of-type) {
    padding-inline-end: 0.5rem;
} 

td.secondary {
    color: theme(--color-dark-grey);
    @variant dark {
        color: theme(--color-light-grey);
    }
}

tr:not([id^="experience-detail-"]):hover td {
    background-color: theme(--color-oxford-blue);
    color: theme(--color-white);
    @variant dark {
        background-color: theme(--color-white);
        color: theme(--color-oxford-blue);
    }
}

tr:hover td.secondary {
    color: theme(--color-light-grey);
    @variant dark {
        color: theme(--color-dark-grey);
    }
}

tr[id^="experience-detail-"] {
    display: none;
    border-bottom: 1px solid theme(--color-oxford-blue);
    @variant dark {
        border-bottom: 1px solid theme(--color-white);
    }

    & td {
        padding-bottom: 0.5rem;
    }
}

p {
    max-width: 80ch;
}

tr:has(input[type="checkbox"]:checked) + tr {
    display: table-row;
}

input[type="checkbox"] + label:after {
    content:'+';
    padding-inline: 1rem;
}

input[type="checkbox"]:checked + label:after {
    content:'-';
    padding-inline: 1rem;
}

input[type="checkbox"]:focus + label {
    outline: 2px solid theme(--color-light-grey);
    @variant dark {
        outline-color: theme(--color-dark-grey);
    }
}