<h4>Expériences</h4>
<ul>
    <li class="ligne">
        <div class="metier">UX Designer</div>
        <div class="entreprise left">eXalt</div>
        <div class="dates">2022 &mdash; Aujourd'hui</div>
    </li>
    <li class="ligne">
        <div class="metier">UX Designer</div>
        <div class="entreprise left">Avanade</div>
        <div class="dates">2014 &mdash; 2022</div>
    </li>
    <li>
        <div class="ligne">
            <div class="metier">UX Designer & Développeur</div>
            <div class="entreprise left">Mikros Image</div>
            <div class="dates">2013 &mdash; 2014</div>
        </div>
        <ul class="langages">
            <li class="techno">Apache CouchDB</li>
            <li class="techno">Framework Java Play</li>
            <li class="techno">HTML</li>
            <li class="techno">CSS</li>
            <li class="techno">JavaScript</li>
        </ul>
    </li>
</ul>
<h4>Formation</h4>
<ul>
    <li class="ligne">
        <div class="metier">Stage</div>
        <div class="entreprise left">Crédit Agricole</div>
        <div class="dates">2013</div>
    </li>
    <li>
        <div class="ligne">
            <div class="metier">Stage</div>
            <div class="entreprise left">Airbus EADS Astrium</div>
            <div class="dates">2012</div>
        </div>
        <ul class="langages">
            <li class="techno">Java Swing</li>
        </ul>
    </li>
    <li class="ligne">
        <div class="metier">Stage</div>
        <div class="entreprise left">Saint-Gobain Autover (NL)</div>
        <div class="dates">2011</div>
    </li>
    <li>
        <div class="ligne">
            <div class="metier">Projet scolaire</div>
            <div class="entreprise">Jeu video</div>
        </div>
        <ul class="langages">
            <li class="techno">Flash ActionScript</li>
        </ul>
    </li>
    <li>
        <div class="ligne">
            <div class="metier">Cours <abbr title="Ecole Nationale Supérieur de Cognitique de Bordeaux">ENSC</abbr></div>
            <div class="entreprise">Programmation orientée objet</div>
        </div>
        <ul class="langages">
            <li class="techno">C#</li>
        </ul>
    </li>
    <li>
        <div class="ligne">
            <div class="metier">Cours <abbr title="Ecole Nationale Supérieur de Cognitique de Bordeaux">ENSC</abbr></div>
            <div class="entreprise">Programmation déclarative</div>
        </div>
        <ul class="langages">
            <li class="techno">Prolog</li>
        </ul>
    </li>
    <li>
        <div class="ligne">
            <div class="metier">Cours <abbr title="Ecole Nationale Supérieur de Cognitique de Bordeaux">ENSC</abbr></div>
            <div class="entreprise">Programmation web</div>
        </div>
        <ul class="langages">
            <li class="techno">HTML</li>
            <li class="techno">PHP</li>
            <li class="techno">SQL</li>
        </ul>
    </li>
</ul>
<h4>Perso</h4>
<ul class="langages">
    <li class="techno">DarkBasic</li>
    <li class="techno">3D Games Creator Pro</li>
</ul>