<fieldset class="frame h-full w-full overflow-y-auto">
    <legend>
        <h2>Expériences</h2>
    </legend>
    <table class="max-lg:hidden lg:border-collapse lg:w-full">
        <thead class="border-b border-solid border-oxford-blue dark:border-white">
            <tr>
                <th>Entreprise</th>
                <th>Dates</th>
                <th>Poste</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (experience of experiences; track $index) {
            <tr>
                <td>{{ experience.enterprise }}</td>
                <td class="secondary">{{ experience.startDate }} ‒ {{ experience.endDate }}</td>
                <td>{{ experience.job }}</td>
                <td>
                    <input type="checkbox" name="more-info" [id]="'more-info-checkbox-' + $index" class="appearance-none">
                    <label [for]="'more-info-checkbox-' + $index" aria-label="expand/collapse"></label>
                </td>
            </tr>
            <tr [id]="'experience-detail-' + $index">
                <td colspan="4">
                    <h3>Description</h3>
                    <p class="max-w-[80ch] text-wrap">{{ experience.description }}</p>
                    <h3>Outils principaux</h3>
                    <ul class="skills">
                        @for (skill of experience.skills.masteredSkills; track $index) {
                            <li><span class="skill">{{ skill }}</span></li>
                        }
                    </ul>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <ul class="lg:hidden">
        @for (experience of experiences; track $index) {
            <li class="mb-4">
                <details>
                    <summary class="cursor-pointer">
                        <span class="font-bold">{{ experience.job }}</span>
                        <div>{{ experience.enterprise }}</div>
                    </summary>
                    <div class="text-dark-grey dark:text-light-grey">
                        {{ experience.startDate }} ‒ {{ experience.endDate }}
                    </div>
                    <h3>Description</h3>
                    <p class="max-w-[80ch]">{{ experience.description }}</p>
                    <h3>Outils principaux</h3>
                    <ul class="skills">
                        @for (skill of experience.skills.masteredSkills; track $index) {
                            <li><span class="skill">{{ skill }}</span></li>
                        }
                    </ul>
                </details>
            </li>
        }
    </ul>

    <p class="mt-4">
        Plus de détails sur <a href="https://www.linkedin.com/in/adrien-dutertre/" target="_blank">Linkedin</a>
    </p>
</fieldset>