@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue: #0269c5;
  --color-purple: #563d81;
  --color-red: #cc0019;
  --color-magenta: #a20067;

  --color-light-blue: #92C2EA;
  --color-light-purple: #00BCE1;
  --color-light-red: #FF6879;
  --color-light-magenta: #F1A7DC;

  --color-white: #f4f4f4;
  --color-oxford-blue: #002147;
  --color-dark-grey: #63666b;
  --color-light-grey: #a2aaad;

  --color-skill: #B8DCD2;
}

html, body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-style: normal;
  padding: 1rem 1rem 0 1rem;
  color: theme(--color-oxford-blue);
  background-color: theme(--color-white);
  display: grid;
  grid-template-rows: auto;

  @variant dark {
    color: theme(--color-white);
    background-color: theme(--color-oxford-blue);
  }
}

h3 {
  text-transform: uppercase;
  padding-block-start: 1rem;
  font-weight: bold;
  @apply text-dark-grey dark:text-light-grey;
}

h3::before {
  content: "**";
  padding-inline-end: 0.5rem;
  @apply text-dark-grey dark:text-light-grey;
}

h3::after {
  content: "**";
  padding-inline-start: 0.5rem;
  @apply text-dark-grey dark:text-light-grey;
}

a {
  text-decoration: underline;
}

a:link {
  color: theme(--color-blue);
  @variant dark {
    color: theme(--color-light-blue);
  }
}

a:visited {
  color: theme(--color-purple);
  @variant dark {
    color: theme(--color-light-purple);
  }
}

a:hover {
  color: theme(--color-magenta);
  @variant dark {
    color: theme(--color-light-magenta);
  }
}

a:active {
  color: theme(--color-red);
  @variant dark {
    color: theme(--color-light-red);
  }
}

@layer components {
  fieldset.frame {
    padding: 0.5rem;
    border: 1px solid theme(--color-oxford-blue);
    @variant dark {
      border: 1px solid theme(--color-white);
    }

    & legend {
      font-weight: bold;
      color: theme(--color-dark-grey);
      @variant dark {
        color: theme(--color-light-grey);
      }
    }
  }

  .skill {
    @apply p-1;
    background-color: theme(--color-skill);
    color: theme(--color-oxford-blue);
    @variant dark {
      color: theme(--color-oxford-blue);
    }
  }

  .skill::before {
    content: "[";
  }

  .skill::after {
    content: "]";
  }

  ul.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  ul.skills li:not(:last-of-type)::after {
    content: ",";
    @apply text-dark-grey dark:text-light-grey;
  }

  ul.skills li:last-of-type:not(:first-of-type)::before {
    content: "\00a0 et\00a0";
    @apply text-dark-grey dark:text-light-grey;
  }
}
