@reference "../../../styles.css";

.education::before {
    content:'**';
    padding-inline-end: 0.5rem;
}

.education::after {
    content:'**';
    padding-inline-start: 0.5rem;
}

.education-dates {
    color: theme(--color-dark-grey);
    @variant dark {
        color: theme(--color-light-grey);
    }
}