<fieldset class="frame h-full w-full overflow-y-auto">
    <legend>
        <h2>A propos</h2>
    </legend>
    <p class="max-w-[80ch]">{{ description }}</p>

    <h3>Compétences</h3>
    <dl>
        @for (skill of skills; track $index) {
        <div class="flex flex-row flex-wrap mb-2 gap-2 max-lg:flex-col">
            <dt class="lg:w-[15%] font-bold">{{ skill.category }}</dt>

            @if (skill.masteredSkills) {
            <dd>
                <ul class="skills">
                    @for (masteredSkill of skill.masteredSkills; track $index) {
                    <li><span class="skill">{{ masteredSkill }}</span></li>
                    }
                </ul>
            </dd>
            }
            @if (skill.secondarySkills) {
            <dd class="flex flex-row text-dark-grey dark:text-light-grey">
                <span>Notions&nbsp;de&nbsp;</span>
                <ul class="skills">
                    @for (secondarySkill of skill.secondarySkills; track $index) {
                    <li><span class="skill">{{ secondarySkill }}</span></li>
                    }
                </ul>
            </dd>
            }
        </div>
        }
    </dl>
</fieldset>