ul {
    list-style: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

p {
    text-wrap: pretty;
}

br {
    content: "";
    margin: 0.5rem;
    display: block;
}

svg {
    width: 48px;
    aspect-ratio: 1 / 1;
    fill: var(--black);
}